.Rproj.user
.Rhistory
.RData
Notes
.Ruserdata
.ipynb_checkpoints
Exercises/Reproducible Research/Repositories/RRcourse2023/
Exercises/Reproducible Research/RR/Case2-MKK/
Exercises/Reproducible Research/RR/Ex2Repo/
Exercises/Reproducible Research/RR/RRcase1/
Exercises/Reproducible Research/RR_git1/Dev1/
Exercises/Reproducible Research/RR_git1/Dev2/
Exercises/Reproducible Research/RR_git1/EX1/
Exercises/Reproducible Research/RR_git1/EX2/
Exercises/Reproducible Research/RR_git1/EX2_clone/
Exercises/Reproducible Research/RR_git2/Dev1/
Exercises/Reproducible Research/RR_git2/Dev2/
Exercises/Reproducible Research/RR_git2/RecapCloned/
Exercises/Reproducible Research/RR_git2/RecapRepo/
Exercises/RR_git1/Dev1/
Exercises/RR_git1/Dev2/
Exercises/RR_git1/EX1/
Exercises/RR_git1/EX2/
Exercises/RR_git1/EX2_clone/
Exercises/RR_git3/Dev1/
Exercises/RR_git3/Dev2/
